NRPlanes.Client.MonoGame/Service References/ServiceReference/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" />
  <xs:complexType name="ArrayOfKeyValueOfPlaneEquipmentRelativeInfoPlaneEquipmentpjR_SvStE">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfPlaneEquipmentRelativeInfoPlaneEquipmentpjR_SvStE">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" name="Key" nillable="true" type="q1:PlaneEquipmentRelativeInfo" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" name="Value" nillable="true" type="q2:PlaneEquipment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfPlaneEquipmentRelativeInfoPlaneEquipmentpjR_SvStE" nillable="true" type="tns:ArrayOfKeyValueOfPlaneEquipmentRelativeInfoPlaneEquipmentpjR_SvStE" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
</xs:schema>