NRPlanes.Client.MonoGame/Service References/ServiceReference/NRPlanes.ServerData.MutableInformations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.ServerData.MutableInformations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.ServerData.MutableInformations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" />
  <xs:complexType name="PlaneMutableInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObjectMutableInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="EquipmentMutableInformation" nillable="true" type="tns:ArrayOfPlaneEquipmentMutableInformation" />
          <xs:element minOccurs="0" name="Health" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlaneMutableInformation" nillable="true" type="tns:PlaneMutableInformation" />
  <xs:complexType name="GameObjectMutableInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MutableInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Position" type="q1:Vector" />
          <xs:element minOccurs="0" name="Rotation" type="xs:double" />
          <xs:element minOccurs="0" name="RotationVelocity" type="xs:double" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Velocity" type="q2:Vector" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameObjectMutableInformation" nillable="true" type="tns:GameObjectMutableInformation" />
  <xs:complexType name="MutableInformation">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MutableInformation" nillable="true" type="tns:MutableInformation" />
  <xs:complexType name="PlaneEquipmentMutableInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MutableInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlaneEquipmentMutableInformation" nillable="true" type="tns:PlaneEquipmentMutableInformation" />
  <xs:complexType name="EngineMutableInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlaneEquipmentMutableInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EngineMutableInformation" nillable="true" type="tns:EngineMutableInformation" />
  <xs:complexType name="ShieldMutableInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlaneEquipmentMutableInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShieldMutableInformation" nillable="true" type="tns:ShieldMutableInformation" />
  <xs:complexType name="ArrayOfPlaneEquipmentMutableInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaneEquipmentMutableInformation" nillable="true" type="tns:PlaneEquipmentMutableInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaneEquipmentMutableInformation" nillable="true" type="tns:ArrayOfPlaneEquipmentMutableInformation" />
  <xs:complexType name="ArrayOfPlaneMutableInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaneMutableInformation" nillable="true" type="tns:PlaneMutableInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaneMutableInformation" nillable="true" type="tns:ArrayOfPlaneMutableInformation" />
</xs:schema>