NRPlanes.Client.MonoGame/Service References/ServiceReference/NRPlanes.Core.Primitives.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Size">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Size" nillable="true" type="tns:Size" />
  <xs:complexType name="Geometry">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Geometry" nillable="true" type="tns:Geometry" />
  <xs:complexType name="PolygonGeometry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Geometry">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_boundingRectangle" type="tns:Rect" />
          <xs:element minOccurs="0" name="m_center" type="tns:Vector" />
          <xs:element minOccurs="0" name="m_segments" nillable="true" type="tns:ArrayOfSegment" />
          <xs:element minOccurs="0" name="m_vertexes" nillable="true" type="tns:ArrayOfVector" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PolygonGeometry" nillable="true" type="tns:PolygonGeometry" />
  <xs:complexType name="Rect">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rect" nillable="true" type="tns:Rect" />
  <xs:complexType name="Vector">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vector" nillable="true" type="tns:Vector" />
  <xs:complexType name="ArrayOfSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="tns:Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegment" nillable="true" type="tns:ArrayOfSegment" />
  <xs:complexType name="Segment">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="tns:Vector" />
      <xs:element minOccurs="0" name="Start" type="tns:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="tns:Segment" />
  <xs:complexType name="ArrayOfVector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vector" type="tns:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVector" nillable="true" type="tns:ArrayOfVector" />
  <xs:complexType name="CircleGeometry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Geometry">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_center" type="tns:Vector" />
          <xs:element minOccurs="0" name="m_radius" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CircleGeometry" nillable="true" type="tns:CircleGeometry" />
  <xs:complexType name="RectGeometry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Geometry">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_rect" type="tns:Rect" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RectGeometry" nillable="true" type="tns:RectGeometry" />
</xs:schema>