NRPlanes.Client.MonoGame/Service References/ServiceReference/NRPlanes.Core.Bullets.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Bullets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Bullets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:complexType name="Bullet">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q1:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fired" type="xs:boolean" />
          <xs:element minOccurs="0" name="InitialTimeToLive" type="ser:duration" />
          <xs:element minOccurs="0" name="PlayerGuid" type="ser:guid" />
          <xs:element minOccurs="0" name="Power" type="xs:double" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="StartPosition" nillable="true" type="q2:Vector" />
          <xs:element minOccurs="0" name="TimeToLive" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bullet" nillable="true" type="tns:Bullet" />
  <xs:complexType name="LaserBullet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Bullet">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LaserBullet" nillable="true" type="tns:LaserBullet" />
  <xs:complexType name="HomingRocket">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Bullet">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_maxRotationVelocity" type="xs:double" />
          <xs:element minOccurs="0" name="m_targetPlaneId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HomingRocket" nillable="true" type="tns:HomingRocket" />
</xs:schema>