NRPlanes.Client.MonoGame/Service References/ServiceReference/NRPlanes.Core.Planes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Planes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Planes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:complexType name="XWingPlane">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q1:Plane">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" minOccurs="0" name="m_leftDeflectingEngine" nillable="true" type="q2:Engine" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" minOccurs="0" name="m_leftForwardEngine" nillable="true" type="q3:Engine" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" minOccurs="0" name="m_rightDeflectingEngine" nillable="true" type="q4:Engine" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Equipments" minOccurs="0" name="m_rightForwardEngine" nillable="true" type="q5:Engine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XWingPlane" nillable="true" type="tns:XWingPlane" />
</xs:schema>