NRPlanes.Client/NRPlanes.Client/Service References/NRPlanesServerReference/NRPlanes.Core.Planes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Planes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Planes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:complexType name="XWingPlane">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q1:Plane">
        <xs:sequence>
          <xs:element minOccurs="0" name="_leftDeflectingEngine" nillable="true" type="q1:Engine" />
          <xs:element minOccurs="0" name="_leftForwardEngine" nillable="true" type="q1:Engine" />
          <xs:element minOccurs="0" name="_rightDeflectingEngine" nillable="true" type="q1:Engine" />
          <xs:element minOccurs="0" name="_rightForwardEngine" nillable="true" type="q1:Engine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="XWingPlane" nillable="true" type="tns:XWingPlane" />
</xs:schema>