NRPlanes.Client/NRPlanes.Client/Service References/NRPlanesServerReference/NRPlanes.Core.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStaticObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StaticObject" nillable="true" type="tns:StaticObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStaticObject" nillable="true" type="tns:ArrayOfStaticObject" />
  <xs:complexType name="StaticObject">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="AbsoluteGeometry" nillable="true" type="q1:Geometry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaticObject" nillable="true" type="tns:StaticObject" />
  <xs:complexType name="ArrayOfGameObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameObject" nillable="true" type="tns:GameObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameObject" nillable="true" type="tns:ArrayOfGameObject" />
  <xs:complexType name="GameObject">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Acceleration" type="q2:Vector" />
      <xs:element minOccurs="0" name="AngularMass" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Mass" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Position" type="q3:Vector" />
      <xs:element minOccurs="0" name="ReferenceArea" nillable="true" type="tns:ReferenceArea" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="RelativeGeometry" nillable="true" type="q4:Geometry" />
      <xs:element minOccurs="0" name="Rotation" type="xs:double" />
      <xs:element minOccurs="0" name="RotationAcceleration" type="xs:double" />
      <xs:element minOccurs="0" name="RotationVelocity" type="xs:double" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Velocity" type="q5:Vector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameObject" nillable="true" type="tns:GameObject" />
  <xs:complexType name="ReferenceArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="_points" nillable="true" type="tns:ArrayOfReferenceAreaPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceArea" nillable="true" type="tns:ReferenceArea" />
  <xs:complexType name="ArrayOfReferenceAreaPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenceAreaPoint" type="tns:ReferenceAreaPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenceAreaPoint" nillable="true" type="tns:ArrayOfReferenceAreaPoint" />
  <xs:complexType name="ReferenceAreaPoint">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:double" />
      <xs:element minOccurs="0" name="ReferenceArea" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceAreaPoint" nillable="true" type="tns:ReferenceAreaPoint" />
  <xs:complexType name="Plane">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="MaximalHealth" type="xs:double" />
          <xs:element minOccurs="0" name="_allEquipment" nillable="true" type="tns:ArrayOfPlaneEquipment" />
          <xs:element minOccurs="0" name="_health" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Plane" nillable="true" type="tns:Plane" />
  <xs:complexType name="ArrayOfPlaneEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaneEquipment" nillable="true" type="tns:PlaneEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaneEquipment" nillable="true" type="tns:ArrayOfPlaneEquipment" />
  <xs:complexType name="PlaneEquipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EquipmentOfPlanevLP_SO9OV">
        <xs:sequence>
          <xs:element minOccurs="0" name="Charge" type="xs:double" />
          <xs:element minOccurs="0" name="MaximumCharge" type="xs:double" />
          <xs:element minOccurs="0" name="Regeneration" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlaneEquipment" nillable="true" type="tns:PlaneEquipment" />
  <xs:complexType name="EquipmentOfPlanevLP_SO9OV">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EquipmentOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Plane" Namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Equipment">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EquipmentOfPlanevLP_SO9OV" nillable="true" type="tns:EquipmentOfPlanevLP_SO9OV" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelativeRotation" type="xs:double" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="RelativeToOriginPosition" type="q6:Vector" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="Size" type="q7:Size" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="Engine">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlaneEquipment">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="TractionForce" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Engine" nillable="true" type="tns:Engine" />
  <xs:complexType name="Shield">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlaneEquipment">
        <xs:sequence>
          <xs:element minOccurs="0" name="DamageToChargeFactor" type="xs:double" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="MinimalChargeToActivate" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shield" nillable="true" type="tns:Shield" />
  <xs:complexType name="Weapon">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PlaneEquipment">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="BulletOffset" type="q8:Vector" />
          <xs:element minOccurs="0" name="BulletPrototype" nillable="true" type="tns:Bullet" />
          <xs:element minOccurs="0" name="ElapsedTimeForShot" type="ser:duration" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="InitialBulletVelocity" type="q9:Vector" />
          <xs:element minOccurs="0" name="OnPlanePosition" type="tns:WeaponPosition" />
          <xs:element minOccurs="0" name="ReloadingTime" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Weapon" nillable="true" type="tns:Weapon" />
  <xs:complexType name="Bullet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Fired" type="xs:boolean" />
          <xs:element minOccurs="0" name="InitialTimeToLive" type="ser:duration" />
          <xs:element minOccurs="0" name="Power" type="xs:double" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="StartPosition" nillable="true" type="q10:Vector" />
          <xs:element minOccurs="0" name="TimeToLive" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bullet" nillable="true" type="tns:Bullet" />
  <xs:simpleType name="WeaponPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LeftFront" />
      <xs:enumeration value="CenterFront" />
      <xs:enumeration value="RightFront" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeaponPosition" nillable="true" type="tns:WeaponPosition" />
</xs:schema>