NRPlanes.Client/NRPlanes.Client/Service References/ServiceReference/NRPlanes.Core.StaticObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.StaticObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.StaticObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" />
  <xs:complexType name="Planet">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q1:StaticObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Planet" nillable="true" type="tns:Planet" />
  <xs:complexType name="HealthRecoveryPlanet">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Planet">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecoverySpeed" type="xs:double" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" minOccurs="0" name="m_lastTickAffections" nillable="true" type="q2:ArrayOfGameObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HealthRecoveryPlanet" nillable="true" type="tns:HealthRecoveryPlanet" />
  <xs:complexType name="RectangleGravityField">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q3:StaticObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Acceleration" type="xs:double" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Primitives" minOccurs="0" name="ForceDirection" type="q4:Vector" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RectangleGravityField" nillable="true" type="tns:RectangleGravityField" />
</xs:schema>