NRPlanes.Client/NRPlanes.Client/Service References/ServiceReference/NRPlanes.ServerData.EventsLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.ServerData.EventsLog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.ServerData.EventsLog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:complexType name="Timestamp">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timestamp" nillable="true" type="tns:Timestamp" />
  <xs:complexType name="ArrayOfGameEventsLogItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameEventsLogItem" nillable="true" type="tns:GameEventsLogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameEventsLogItem" nillable="true" type="tns:ArrayOfGameEventsLogItem" />
  <xs:complexType name="GameEventsLogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="m_timestamp" nillable="true" type="tns:Timestamp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameEventsLogItem" nillable="true" type="tns:GameEventsLogItem" />
  <xs:complexType name="GameObjectAddedLogItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameEventsLogItem">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" minOccurs="0" name="m_gameObject" nillable="true" type="q1:GameObject" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameObjectAddedLogItem" nillable="true" type="tns:GameObjectAddedLogItem" />
  <xs:complexType name="GameObjectDeletedLogItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameEventsLogItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_gameObjectId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameObjectDeletedLogItem" nillable="true" type="tns:GameObjectDeletedLogItem" />
</xs:schema>