NRPlanes.Client/NRPlanes.Client/Service References/ServiceReference/NRPlanes.Core.Bonuses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Bonuses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Bonuses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" />
  <xs:complexType name="Bonus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NRPlanes.Core.Common" base="q1:GameObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_health" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Bonus" nillable="true" type="tns:Bonus" />
  <xs:complexType name="RandomBonus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Bonus">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_underlying" nillable="true" type="tns:Bonus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RandomBonus" nillable="true" type="tns:RandomBonus" />
  <xs:complexType name="HealthBonus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Bonus">
        <xs:sequence>
          <xs:element minOccurs="0" name="m_value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HealthBonus" nillable="true" type="tns:HealthBonus" />
</xs:schema>